@import '@fontsource-variable/inter';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Inter Variable', sans-serif;
	--color-bg: #111418;
	--color-text: #d7d7d6;
  --color-primary: #c2c2c1;
  --color-primary-100: #a4a4a2;
  --color-primary-200: #90908e;
  --color-primary-300: #7E7E7B;
  --color-primary-400: #676765;
  --color-primary-500: #676765;
  --color-primary-600: #3e3e3d;
  --color-primary-700: #171A1F;
  --color-border: #343B46;
  --color-border-100: #2B313B;
	--color-accent: #AB2324;
	--column-width: 42rem;
	--column-margin-top: 4rem;
  --border-radius: .5rem;
	font-family: var(--font-mono);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	max-width: var(--column-width);
	margin: 0 auto;
	background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-weight: 500;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

h1 {
	font-size: 1.75rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 1rem;
  margin-bottom: 2rem;
}
h5 {
	font-size: 0.85rem;
}
h6 {
	font-size: 0.75rem;
}

p {
	line-height: 1.5;
  color: var(--color-primary-100);
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

@media (max-width: 720px) {
	body {
		padding: 0 1rem;
	}
	h1 {
		font-size: 2.4rem;
	}
}
